*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --sp-md: clamp(16px, 10.3661971831px + 1.5023474178vw, 32px);
  --sp-lg: clamp(24px, 12.7323943662px + 3.0046948357vw, 56px);
  --fz-xs: clamp(12px, 9.8873239437px + 0.5633802817vw, 18px);
  --fz-sm: clamp(16px, 13.1830985915px + 0.7511737089vw, 24px);
  --fz-base: clamp(24px, 19.7746478873px + 1.1267605634vw, 36px);
  color: #151318;
  background: #ffffff;
  --graphic-scale: 1;
  font-family: "helvetica-neue-lt-pro", sans-serif;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  color: #4a04ff;
  line-height: 1.1;
  font-size: var(--fz-base);
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

p {
  max-width: 35em;
}

.page {
  min-height: 400vh;
}

.pin-section {
  min-height: 100vh;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  background: #ffffff;
}

.graphic-stack,
.graphic-stack__layer {
  position: absolute;
  inset: 0;
}

.graphic-stack {
  width: 100%;
  height: 100%;
}

.graphic-stack__layer {
  --mouse-x: 0px;
  --mouse-y: 0px;
  --scroll-x: 0px;
  --scroll-y: 0px;
  --layer-scale: 1;
  opacity: 0.98;
  mix-blend-mode: multiply;
  transform: translate(calc(var(--scroll-x) + var(--mouse-x)), calc(var(--scroll-y) + var(--mouse-y))) scale(var(--layer-scale));
}
.graphic-stack__layer svg {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transform: scale(var(--graphic-scale));
  transform-origin: center;
}

.graphic-stack__layer--white {
  opacity: 0.99;
  mix-blend-mode: normal;
}

.scroll-msg {
  position: fixed;
  align-content: center;
  writing-mode: sideways-lr;
  mix-blend-mode: multiply;
  right: var(--sp-md);
  bottom: var(--sp-md);
  z-index: 9;
  font-size: clamp(20px, 14.3661971831px + 1.5023474178vw, 36px);
}

.intro-text {
  font-size: clamp(42px, 28.6197183099px + 3.5680751174vw, 80px);
  position: absolute;
  z-index: 12;
  max-width: 10em;
  padding: var(--sp-md);
  background-color: #fff;
  inset: var(--sp-md);
  display: grid;
  align-content: space-between;
  clip-path: inset(100% 0 0 0);
  will-change: clip-path;
}

h1 {
  font-size: clamp(42px, 27.9154929577px + 3.7558685446vw, 82px);
  margin: 0;
}

.logo {
  width: 250px;
}

.cap-section {
  --duration: 0.05s;
  padding: var(--sp-md);
  min-height: 150dvh;
  will-change: color, background;
  transition: color var(--duration) ease-in-out, background var(--duration) ease-in-out;
}
.cap-section .cap-heading :is(strong, em) {
  color: #ffffff;
  display: inline-block;
  max-width: 0;
  transition: max-width 0.5s ease-out;
  overflow: hidden;
  height: 0.925em;
}
.cap-section.section-active .cap-heading :is(strong, em) {
  max-width: 100%;
}
.cap-section.section-active.bg-violet {
  background-color: #4a04ff;
  color: #ffffff;
}
.cap-section.section-active.bg-violet .cap-heading strong {
  color: #151318;
}
.cap-section.section-active.bg-grey {
  background-color: hsl(250, 8%, 75%);
}
.cap-section.section-active.bg-grey .cap-heading strong {
  color: #151318;
}
.cap-section.section-active.bg-grey .cap-heading em {
  color: inherit;
}
.cap-section.section-active.bg-black {
  background-color: #151318;
  color: #ffffff;
}
.cap-section.section-active.bg-black .cap-heading strong {
  color: #4a04ff;
}
.cap-section.section-active.bg-black .cap-heading em {
  color: inherit;
}

.cap-heading {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 0.25em var(--sp-md);
  margin-block: 40dvh 20dvh;
}
.cap-heading span {
  font-size: 1.2rem;
  position: relative;
  font-weight: bold;
}
.cap-heading h2 {
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  font-size: clamp(28px, 14.9718309859px + 3.4741784038vw, 65px);
}
.cap-heading :is(strong, em) {
  font-style: inherit;
}

.service-grid {
  font-size: var(--fz-sm);
  font-weight: bold;
  display: grid;
  margin-block: var(--sp-lg);
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  padding: 0;
  gap: var(--sp-md);
  flex-wrap: wrap;
}
.service-grid li {
  aspect-ratio: 1;
  flex: 0 1 9.5em;
  height: auto;
  border: 1px solid;
  padding: var(--sp-md);
  align-content: end;
  --nudge-angle: 0deg;
  --nudge-scale-x: 1;
  --nudge-scale-y: 1;
  --nudge-blur: 0px;
  transform: rotate(var(--nudge-angle)) scale(var(--nudge-scale-x), var(--nudge-scale-y)) rotate(calc(var(--nudge-angle) * -1));
  filter: blur(var(--nudge-blur));
  will-change: transform, filter;
}
@media screen and (max-width: 900px) {
  .service-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .service-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

section.image {
  height: 100dvh;
  overflow: hidden;
  position: relative;
  color: #ffffff;
  font-size: var(--fz-xs);
  line-height: 1.4;
}
section.image .funfact {
  position: absolute;
  inset: auto var(--sp-md) var(--sp-md) var(--sp-md);
  z-index: 10;
}
section.image .funfact p {
  max-width: none;
}

/*# sourceMappingURL=main.css.map */
